<h3>hey index</h3>
<ul>
  <%= console.log(feeds) %>
  <% feeds.each(function(feed) { %>
    <li>
      <a href="#/feeds/<%= feed.get("id") %>">
      <%= feed.get("title") %>
    </a>
    </li>
  <% })%>
</ul>
