<h3>Show that Feed!</h3>

<ul>
  <% feedEntries.each(function(feedEntry) { %>
    <li>
      <a href="<%= feedEntry.get("link") %>">
        <%= feedEntry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>