<h3>Show that Feed!</h3>

<button class="refresh">Refresh</button><br>
<button class="back">Back to Index</button>

<ul>
  <% feedEntries.each(function(feedEntry) { %>
    <li>
      <a href="<%= feedEntry.get("link") %>">
        <%= feedEntry.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>